*,*::before,*::after {line-height:1.5em;}
html,body {overflow-x:hidden;}
body {
    position:relative;

    &::before {
        content:'';
        position:absolute; left:0; top:0;
        width:100%; height:100%;
        background:url(bg.jpeg) 60% center / cover;
        filter:blur(10px) brightness(60%);
        z-index:-1;
    }
}
input {
    all:unset;
    width:100%; height:1em;
    background:transparent; color:white;
    text-align:center;
}
header {
    padding:4em 0 1em 0;

    img {
        width:min(30em,90%);
    }
    h2 {
        letter-spacing:1em; text-indent:1em;
        display:block;
        padding-top:.5em;
        font-size:1.2em;
    }
}
h2,h3 {
    color:transparent; -webkit-text-stroke:.02em white;
}

section,article {
    margin:3rem auto 0 auto;  
    max-width:40rem;
    overflow:hidden;
}
#links,#contents{
    display:inline-grid; gap:.5em 1em;
    background:rgb(1, 20, 0);
    box-shadow:inset 0 0 .5em black, 0 0 .5em .5em black;
    border-radius:1em; outline:.5em solid var(--overlay1); border:.1em solid black; 
    padding:1em; margin:3rem 1em 0 1em;
    vertical-align:top;
    --bg:rgb(1, 20, 0);
}
h3 {
    font-size:2.5rem;
    display:block;
    --spacing:.3em; letter-spacing:var(--spacing);

    section & {
        margin:1em calc(-1*var(--spacing)) 1em 0;
    }
    :is(#contents,#links) & {
        writing-mode:vertical-lr;
        margin:0 0 calc(-1*var(--spacing)) 0; padding:0 .25em;
        text-shadow:0 0 .5em gray;
    }
}

#links {
    h3 {
        grid-area:1/4/3/5;
    }
    a {
        -webkit-user-drag:none;
    }
    i {
        font-size:.65em; line-height:3;
        pointer-events:none;
    }
    spin-knob::after {
        content:attr(title);
        display:block; margin-top:.5em;
        font-size:.4em;
    }
}
#contents {
    grid-template:repeat(3,1fr)/repeat(2,min-content);

    h3 {
        grid-area:1/1/4/2;
    }
    a {
        width:9.35em;
        clip-path:polygon(0% 0%,90% 0%,100% 50%,90% 100%,0% 100%,10% 50%);
        font-size:1.5em;
        text-align:left; line-height:2.5em;
        padding-left:1.7em;
        background:linear-gradient(to right,yellowgreen,orange,turquoise,yellowgreen) top left / 200%;
        position:relative;
        transition:color .5s,background-position .5s;

        &::before {
            position:absolute; inset:.05em;
            clip-path:polygon(1% 0%,90.5% 0%,100% 50%,90.5% 100%,1% 100%,10.5% 50%);
            z-index:-1;
            background:linear-gradient(to right,var(--theme-dark) var(--stop),black var(--stop));
            font-size:2em;
            text-align:right; line-height:1.9;
            padding-right:.5em;
            transition:--stop .5s;
        }
        &:nth-of-type(1)::before {content:'\e001';}
        &:nth-of-type(2)::before {content:'\e003';}
        &:nth-of-type(3)::before {content:'\e002';}
    }
    a:hover {
        color:white;
        background-position:bottom right;
        &::before {--stop:100%;}
    }
}
@property --stop {
    syntax:'<percentage>'; inherits:false;
    initial-value:0%;
}
#products {
    font-size:.8em;

    time::after {
        content:attr(title);
        font-size:1.5em;
        mix-blend-mode:difference;
    }
    div>:not(figure) {
        background:var(--theme-dark);
        display:flex; place-items:center; place-content:center;
        text-transform:capitalize;
        white-space:pre-wrap;
        padding:.5em;
    }
    div>:has(*) {
        flex-direction:column;
    }
    h5 {
        background:var(--light,#333) !important;

        img {
            width:3em;
        }
        ruby {
            margin-bottom:.5em;
        }
        rt {
            text-align:center;
            color:var(--type); font-size:.7em;
        }
    }
    p {
        margin:0;
    }
    h4:empty {display:none;}
    h4 {order:1;}
    figure:nth-of-type(2) {order:2;}
    p:nth-of-type(1) {order:3;}
    figure:nth-of-type(3) {order:4;}
    p:nth-of-type(2) {order:5;}
    figure:nth-of-type(4) {order:6;}
    p:nth-of-type(3) {order:7;}
    figure:nth-of-type(5) {order:8;}
    p:nth-of-type(4) {order:9;}
    figure:nth-of-type(n+6) {order:10;}
}

#reboot {
    user-select:none; -webkit-user-select:none;
    padding:0 .5em; margin-bottom:2em;
    display:flex; justify-content:space-between; align-items:end;
    text-align:left; font-size:.8em;

    p {
        display:flex; justify-content:space-between; align-items:center;
        margin:.2em 0 .2em auto;
        border-radius:9em;
        width:15em;
        background:var(--overlay1);
    }
    span {
        text-align:center; line-height:1.1;
    }
    i {
        width:2em;height:2em;
        border-radius:9em;
        text-align:center; line-height:2.2em;
        font-size:1.5em;
        touch-action:none;

        &:first-child {
            background:var(--overlay2);
            margin-right:.5em;
            color:var(--theme-alt);
        }
        &:last-child::before {
            content:'・';
        }
        &.reached {
            background:var(--theme);
        }
        .animaing & {
            transition:transform .5s;
        }
    }
    img {
        width:7em;
        vertical-align:bottom;
    }
}

footer {
    background-color:grey;
    padding:.5em;
    font-size:.6em;
}

details {
    font-size:.8em;
    margin-top:3em;
    background:rgba(100,100,100,.75);
    
    summary {
        padding:.5em 0;

        &::before {content:'▶';}
        &::after  {content:'◀';}
        details[open]&::before,details[open]&::after {content:'▼';}
    }
    p:has(dfn) {text-indent:1em;}
    dfn {margin-right:1em;}
    rb {mix-blend-mode:difference;}

    article {
        padding:0 .5em; margin-top:2em;
    
        >:not(img) {
            margin:1rem .1rem;
        }
        h4 {
            font-size:1.4em;
            margin:1em auto;
            display:block;
        }
        img:not([src$=ico]) {
            width:min(100%,30em);
            margin:.5em auto 0 auto;
            display:block;
        }
        img[src$=ico] {
            width:1.5em;
            vertical-align:-.35em;
            margin-right:.25em;
        }
        img+:not(img) {
            margin-top:.5rem; margin-bottom:1rem;
        }
    }
}

/*entry animation*/
:is(time,dfn) {
    position:relative;
    z-index:0;
    transition:color .5s;
    
    &::before {
        content:''; position:absolute;
        width:120%; height:.8rem;
        left:50%; top:50%; transform:translate(-50%,-50%) skew(-20deg);
        background:linear-gradient(var(--theme) 10%,transparent 10% 90%,var(--theme) 90%),
        linear-gradient(to right,var(--theme-alt) var(--stop),transparent var(--stop));
        transition:--stop .5s;
        z-index:-1;
    }
}
:is(time.seeing,dfn)::before {
    --stop:100%;
}
.scroller,section {
    transition:transform .4s;
}
.scroller:nth-of-type(odd):not(.seeing) {
    transform:translateX(-100%);
}
.scroller:nth-of-type(even):not(.seeing) {
    transform:translateX(100%);
}
:is(#contents,#links) {
    transform-origin:center -100%;
}
#contents:not(.seeing) {
    transform:translateX(100%);
}
#links:not(.seeing) {
    transform:translateX(-100%);
}

#app img {
    height:3em;
}
#gate {
    margin-top:1em;
    p {
        padding:0 .5em; margin-bottom:0;
    }
    .gate {
        display:grid; grid-template-columns:3em 1fr 3em;
        user-select:none; -webkit-user-select:none;

        i {
            justify-self:center; align-self:center;
        }
        :not([style])+i {
            opacity:0;
        }
        span {
            background:linear-gradient(to right,hsla(0,80%,80%,.5),hsla(60,80%,80%,.5),hsla(120,80%,80%,.5),hsla(180,80%,80%,.5),hsla(240,80%,80%,.5));
            width:50vw;
            color:var(--theme-alt);
            font-size:2em; line-height:1;
            padding:.15em .2em 0 .2em;
            touch-action:none;
            position:relative;
            z-index:1;

            &::after {
                content:'';
                position:absolute; top:0;
                width:1em; height:100%;
            }
            &:first-child {
                justify-self:end;
                text-align:right;

                &::after {left:100%;}
            }
            &:last-child {
                justify-self:start;
                text-align:left;
                grid-column-start:3;

                &::after {right:100%;}
            }
            .animating & {
                transition:transform .5s;
            }
        }
    }
}
a[href^=customize] {
    position:relative;
    width:min(100%,20em);
    margin:auto;

    img {
        width:100%;
        display:block;
    }
    span {
        position:absolute; left:0; bottom:0;
        font-size:3em; font-family:'Yusei Magic',COND,sans-serif;
        line-height:1.1; text-align:left;
        width:4em;
        letter-spacing:.1em;

        &::first-line {
            font-size:.6em; font-family:'IBM Plex Sans JP',COND,sans-serif;
        }
    }
}