body {
    overflow-x:hidden;
    user-select:none; -webkit-user-select:none;
}
nav {
    a span {
        writing-mode:vertical-lr;
        line-height:1;
        font-size:.6em;
        margin-bottom:.2em;
    }
    div {
        &:first-of-type {
            grid-area:1/4/2/5;
            align-self:end;
        }
        &:last-of-type {
            grid-area:2/4/3/5;
        }
    }
    button {
        background:var(--theme); color:black;
        border-radius:8em;
        padding:0 .5em;
        font-size:.9em;

        &.selected {background:var(--theme-alt);}
    }
    &:has(button.selected) button:not(.selected) {
        pointer-events:none;
    }
    #tier-list {
        grid-area:1/3/3/4; justify-self:end;
    }
    #lang {
        grid-area:1/5/3/6;
    }
    spin-knob i {
        font-size:.6em; line-height:.8em;
        margin-top:.25em;
        color:var(--theme-alt);
    }
}

.animating :is(main,aside) {
    pointer-events:none;
}
main {
    margin:5em auto 8em auto;
    text-align:left;
    
    &.actioning h2::before {
        content:'\e010  ';
        color:var(--theme);
        animation:blink 1s infinite linear alternate-reverse;
    }
}
details {
    margin:auto;
    width:min(100vw,26rem);
    font-size:.8em;

    :is(ul,ol) {
        padding:revert;
        list-style:revert;
    }
    summary {
        text-align:center; font-size:1.25em;
        margin-bottom:1em;
        &::before {content:'▶';}
        &::after  {content:'◀';}
    }
    &[open] summary::before,&[open] summary::after {content:'▼';}
}

article {
    margin:auto;
}
h2 {
    grid-area:auto/1/auto/-1;
    font-size:2em;
    position:relative;
}
#deck article {
    display:grid; grid-template:auto/repeat(3,min-content); gap:0 .5rem;
    justify-content:center;
    padding-bottom:1em;
    width:min(100vw,26rem);

    h2+bey-x {
        grid-column-start:1;
    }
}
#tier {
    padding-bottom:1em;

    &[style] h2::before {
        z-index:-1;
    }
    article {
        width:min(100%,40rem);
        padding:0 .5rem;
    
        h2 {
            padding-left:.1em;
        
            &::before {
                content:'';
                position:absolute; left:0; top:.9em;
                width:110%; height:.5em;
                background:var(--tier);
                mix-blend-mode:exclusion;
                transform:skew(-20deg);
            }
        }
        section {
            width:100%; min-height:calc(1em + min(calc((100vw - 2rem)/3),8em));
            background:var(--overlay1); transition:background-color .5s;
            font-size:.7em;
            display:flex; flex-wrap:wrap; gap:.15em;
            padding:.5em; 
            border-radius:.75em;
    
            &.targeted {background:var(--overlay2);}
        }
    }
}
@keyframes blink {
    from {filter:saturate(0%);}
    50% {filter:none;}
}
h2[title='1'] {--tier: #ff7f7f;}
h2[title='2'] {--tier: #ffbf7f;}
h2[title='3'] {--tier: #ffdf7f;}
h2[title='4'] {--tier: #ffff7f;}
h2[title='5'] {--tier: #bfff7f;}
h2[title]::after {
    content:attr(title);
    font-size:2em; font-style:italic;
    margin-left:.1em;
}
main bey-x {
    transition:outline .2s;
}
.animating bey-x {
    transition:transform .5s;
}

aside {
    position:fixed; bottom:0; left:0;
    width:100%; height:calc(.2em + min(calc((100vw - 2rem)/3),8em));
    z-index:2;
    font-size:.7em;
    overflow:hidden;

    &.first::before {
        content:'\e00d \000a \e00f     \e010 \000a \e00e';
        opacity:.8;
        position:absolute;
        width:3em; height:100%;
        padding-top:.2em;
        background:var(--theme-dark);
        z-index:1;
        font-size:2em; color:var(--theme-alt);
        line-height:.9; text-align:center;
        white-space:pre;
        display:flex; place-content:center; place-items:center;
        pointer-events:none;
    }

    :is(ul,li):has(bey-x[style]),bey-x[style] {
        z-index:1;
    }
    ul {
        display:flex; gap:.15em;
        overflow-x:scroll;
        margin:.1em 0;
        transform:translateY(calc(var(--slided,0)*-100% - var(--slided,0)*.1em));
    
        &::-webkit-scrollbar {display:none;}
    }
    &.sliding ul {
        transition:transform .5s;
    }
    &.customizing,&.customizing ul {
        overflow:visible;
    }
    &.customizing .selecting {
        transform:translate(calc(var(--scrolled,0)*-1px), calc(var(--slided,0)*-100% - var(--slided,0)*.1em));
    }
    &.customizing ul:not(.selecting) {
        visibility:hidden;
    }
    li {
        display:block;
    }
    bey-x,&:has(>bey-x.pressed) bey-x {
        touch-action:pan-x;
    }
    #tier:not([hidden])+& bey-x[used]::after {
        content:'−'attr(used);
    }
}

[popover] {
    .image {
        align-self:center;
    }
    .text {
        align-self:end;
    }
    blockquote {
        background:var(--overlay2);
        border-radius:.5em;
        padding:1em;
        place-self:start center;
    }
    .text[hidden]+blockquote {
        display:none;
    }
}
